<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recipe categories</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
      integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="categories-body">
      <div class="navbar">
        <div class="navlogo">
          <img src="{{url_for('static', filename='images/buffet.jpg')}}" alt="logo" class="smaller-logo" />
          <h5 class="navlogoheading">YUMMY RECIPES | {{ username }}</h5>
        </div>
        <ul class="navlinks">
          <li>
            <div class="name"><a href="{{ url_for('favorites') }}">favorites</a></div>
          </li>
          <li>
            <div class="bar">|</div>
          </li>
          <li>
            <div class="create"><a href="{{ url_for('create') }}">Create</a></div>
          </li>
          <li> 
            <div class="bar">|</div>
          </li>
          <li>
            <div class="logout"><a href="{{ url_for('logout') }}">logout</a></div>
          </li>
        </ul>
      </div>
      <div class="searchbar">
        <input type="text" class="search" placeholder="search categories" />
        <div class="search-icon"></div>
      </div>
      <div class="category">
        <p class="category-name"><a href="{{ url_for('category_name') }}">BREAKFAST</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/bf1.jfif')}}"
            alt="bfast-image"
            width="500px"
            height="300px"
          />
        </div>
        <p class="category-name"><a href="{{ url_for('category_name') }}">ASIAN</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/Asian 1.jfif')}}"
            alt="asian-image"
            width="500px"
            height="300px"
          />
        </div>
        <p class="category-name"><a href="{{ url_for('category_name') }}">LUNCH</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/ug local2.jfif')}}"
            alt="lunch-image"
            width="500px"
            height="300px"
          />
        </div>
        <p class="category-name"><a href="{{ url_for('category_name') }}">VEGAN</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/veg2.jfif')}}"
            alt="veg-image"
            width="500px"
            height="300px"
          />
        </div>
        <p class="category-name"><a href="{{ url_for('category_name') }}">FAST FOODS</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/fastfoods3.jfif')}}"
            alt="ffoods-image"
            width="500px"
            height="300px"
          />
        </div>
        <p class="category-name"><a href="{{ url_for('category_name') }}">DESSERTS</a></p>
        <div class="category-image">
          <img
            src="{{url_for('static', filename='images/dessert1.jfif')}}"
            alt="dessert-image"
            width="500px"
            height="300px"
          />
        </div>
        <a href="">
        <!-- find out how to get back to top -->
          <p><span class="back-to-top">Back to top</span></p>
        </a>
      </div>
    </div>
  </body>
</html>
