<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
</head>
<body>
    <div class="create-recipe-category">
        <div class="navbar">
            <div class="navlogo">
              <img src="{{url_for('static', filename='images/buffet.jpg')}}" alt="logo" class="smaller-logo" />
              <h5 class="navlogoheading">YUMMY RECIPES</h5>
            </div>
            <ul class="navlinks">
              <li>
                <a href="">
                <div class="back">BACK</div>
                </a>
              </li>
            </ul>
          </div>
</body>
</html>